# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Para rodar localmente DATABASE_URL="postgresql://postgres:minhasenha@localhost:7777/api_calendario_tarefas?schema=public"
DATABASE_URL="postgres://etbmnyrqiajypo:5d8f2a4b1cc586b047617efdfb421d832e8988e42a310befa6ac2929db9bf390@ec2-44-205-41-76.compute-1.amazonaws.com:5432/d1tno0j20qfs58"

KEY_TOKEN="77fc822e-e6c1-4ffa-a175-a630c984a10f"